# Configuração básica do Apache

# LoadModule carrega os módulos necessários para o servidor Apache
LoadModule php_module "c:/xampp/php/php7apache2_4.dll"

# DirectoryIndex define o arquivo que será carregado por padrão quando um diretório é acessado
DirectoryIndex index.php index.html

# AddHandler associa a extensão de arquivo .php ao PHP
AddHandler application/x-httpd-php .php

# Configuração do DocumentRoot
DocumentRoot "C:/xampp/htdocs"

# Diretório de DocumentRoot
<Directory "C:/xampp/htdocs">
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

# Configuração de diretório para CGI
<Directory "C:/xampp/cgi-bin">
    AllowOverride None
    Options None
    Require all granted
</Directory>



# Logs
ErrorLog "logs/error.log"
CustomLog "logs/access.log" common

# Carrega a configuração adicional do PHP
Include "conf/extra/php7_module.conf"

# Outros módulos e configurações adicionais
# ...

# Configuração para carregar módulos adicionais
# LoadModule xyz_module modules/mod_xyz.so
