/* estilo geral */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 20x;
   
}

body{
    background-color: #003B71;
    height: 100vh;
    
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 35px 65px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00aeff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #00aeff;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #00aeff;
    transform: scale(1.05);
}

/* estilo do cabeçalho */
header{
        width: 100%; /* Ocupa toda a largura */


   
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003B71;  
   /* position: fixed;
    top: 0;
    /*left: 0; /* Alinha no topo da página */
    z-index: 1000; /* Z-index alto para garantir que fique sobre o conteúdo */
    padding: 10px 20px; /* Espaçamento interno opcional */
    width: 100%; /* Ocupa toda a largura */
   /* box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2); /* Sombra opcional */
    }
    

header a{
    color: #efe8e8;
    text-decoration:royalblue;
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
    
}

header nav.menu-desktop a:hover{
    color: #fff;
    font-weight: bold;
    transform: scale(1.05);
     width: 100%; /* Ocupa toda a largura */
   
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
    font-size: 25px;
    
}

/* ESTILO DO MENU MOBILE*/
.btn-abrir-menu i{
    color: #00aeff;
    font-size: 25px;
    margin-bottom: 40px;
}

.btn-abrir-menu{
    display: none;
}

.menu-mobile{
    background: #070642;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.bi-x-lg{
    color: #00aeff;
    font-size: 25px;
}

.menu-mobile .btn-fechar{
    padding: 10px 8%;
}

.menu-mobile nav ul{
    text-align: hight;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #00aeff;
}

.overlay-menu{
    background-color: #024873;
    width: 100%;
    height: 100vh;position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}


/* estilo do topo do site */
section.topo-do-site{
    padding: 40px 2%;
    margin-top: 3px;
    
    
}

section.topo-do-site .flex{
    align-items:center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #00aeff;
    font-size: 42px;
    line-height: 40px;

}

.topo-do-site .txt-topo-site h1 span{
    color: #ffffff;
}

.topo-do-site .txt-topo-site p{
    color: #ffffff;
    margin: 40px 0px;
    font-size: 22px;
    text-align: justify;

    
}

.topo-do-site .txt-topo-site p span{
    font-weight: 900;
    color: #00aeff;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 1s ease-in-out infinite alternate;
    margin-bottom: 300px;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 100px;
    }
}

/* estilo das especialidades */
section.especialidades{
    padding: 100px 4%;
    margin-bottom: 40px;
}
section.especialidades .flex{
    gap: 82px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 80px;
    border-radius: 20px;
    margin-top: 70px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #00aeff;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0px;
}

/* ESTILO DO SOBRE */
section.sobre{
    padding: 50px 4%;
    margin-bottom: 40px;

}

section.sobre .flex{
    align-items: baseline;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
    text-align: justify;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    display: block;
    color: #00aeff;
     text-align: justify;
}

.sobre .txt-sobre p{
    margin: 40px 0;
    text-align: justify;
    font-size: 19px;
}

.btn-social button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00aeff;
    font-size: 22px;
    cursor: pointer;
    margin: 0px 10px;
    transition: .2s;
}

/* ESTILO PORTIFÓLIO */ 
section.portifolio{
    padding: 40px 4%;
    margin-bottom: 40px;
    box-shadow: 0 0 40px 10px #ffffff23;
}

section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 60px;
}

.img-port{
    width: 360px;
    height: 300px;
    /* background-color: #00aeff; */
    background-size: cover;
    background-position: 100% 0%;
    transition: 8S;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port h3{
    font-family: "Poppins", sans-serif;
    color: #fff;
    /* text-align: center; */
    padding: 5px;
}

.laranja{
    color: #ff6a00;
}

.azul{
    color: #00aeff;
}

.amarelo{
    color: #ffea00;
}

.vermelho{
    color: #ff0000;
}

.img-port video{
    width: 360px;
    height: 270px;
    flex-direction: column;
    align-items: center;
    border: 2px solid #00aeff;
    border-radius: 10px;
    transition: .2s;
}

.img-port video:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffffff;
}

.img-port:hover{
    background-position: 100% 100%;
}

.img-port h3 a{
    text-decoration: none;
    color: #00aeff;
}

.img-port h3 a:active{
    text-decoration: none;
}

/*.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: #000000ab;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
} */

/* estilo do formulário de contato */
section.formulario{
    padding: 40px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color: #1c1c1c86;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #00aeff;
    color: #000000;
    font-weight: 600;
    cursor: pointer;
    transition: .2s ;
}

/* estilo do footer */
footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff23;
}

footer .flex{
    justify-content: space-between;
}

.borda{
    border-top: 2px solid #00aeff;
}
.line-footer{
    padding: 20px 0px;
}
footer .line-footer p i{
    color: #00aeff;
    font-size: 22px;
   
}

footer .line-footer p a{
    color: #fff;
}

.integrantes{
    margin-top: 1px;
    width: 100px;
    transition: .5s;
}

.img-sobre{
    transition: .5s;
}
.img-sobre a{
    text-decoration: none;
}

.img-sobre img:hover{
    transform: scale(1.05);
    box-shadow:0 px #00aeff;
}

.img-sobre h3{
    color: #00aeff;
    text-align: center;
}

.img-sobre p{
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.img-sobre img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 00px;
    margin-left: 0px;
    
    
}

/* estilo responsivo */

@media screen and (max-width: 1024px){
    /* classes gerais */
    .flex{
        flex-direction: column;
    }

    h2.titulo{
        font-size: 30px;
        line-height: 34px;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    /* cabeçalho */
    .menu-desktop, .btn-contato{
        display: none;
    }

    .btn-abrir-menu{
        display: block;
    }

    /* topo do site */

    section.topo-do-site .flex{
        gap: 40px;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 32px;
    }

    .topo-do-site .img-topo-site img{
       width: 100%;
    }
    
    /* estilo das especialidades */
    section.especialidades{
        padding: 70px 8%;
    }

    /* sobre */
    section .sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: justify;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* portifólio */
    section.portifolio{
        padding: 80px 8%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portifolio .flex{
        gap: 60px;
    }
    .line-footer{
        text-align: center;
    }
    .img-sobre{
        margin-left: 9px;
    }
    .img-sobre img{
        width: 100px;
        height: 100px;
    }
} 

.icone{
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.icone img{
   border: #ff0000;
    margin: 5px;
    border-radius: 5px;
}